/* prevents left/right arrows from moving on change */
#thisday,
#thisweek {
    display: inline-block;
    text-align: center;
}

#thisday {
    min-width: 299px;
}

#thisweek {
    min-width: 184px;
}

.temp-status {
    color: #FF8C84;
}
[src="img/set-default.png"] {
    filter: hue-rotate(180deg) saturate(2); /* edit image to pink */

}
[src="img/set-default.png"]:active {
    filter: hue-rotate(180deg) saturate(3.5);
}

/* hide "info" button */
[src="img/question.png"] {
    display: none;
}

/* fix spacing for date component */
.date.input-group[class*=col-] {
    padding-right: inherit;
    float: inherit;
}

.next-day-button {
    font-size: 20px;
    color: #6EBEC4;
    cursor: pointer;
}

/* save animation */
@keyframes saved {
    8% {
        transform: translate3d(0, -10px, 0);
    }
    15%,
    17% {
        opacity: 1;
        transform: translate3d(0, 20px, 0);
    }
    37%,
    60% {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
    60% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 1;
    }
}

.saved {
    animation: saved 3s;
}
