/* handle zebra-striping without classes */
.white-stripe, .grey-stripe {
    background-color: inherit;
}

#dayview tr:not(:first-child):not(.fake-row),
#dayview-templates tr:not(:first-child):not(.fake-row) {
    background-color: #FFFFFF;
}

#dayview tr:not(:first-child):not(.fake-row):nth-child(even),
#dayview-templates tr:not(:first-child):not(.fake-row):nth-child(even) {
    background-color: #EDEDED;
}

/* style "add new" button in week view */
.weekview-addlink {
    display: block;
    margin-top: 10px;
}

/* prevents left/right arrows from moving on change */
#thisday,
#thisweek {
    display: inline-block;
    text-align: center;
}

#thisday {
    min-width: 299px;
}

#thisweek {
    min-width: 184px;
}

.temp-status {
    color: #FF8C84;
}

#set-default-product,
#set-default-project,
#set-default-activity {
    display: none;
}

#default-product-status,
#default-project-status,
#default-activity-status {
    display: none;
}

[src="img/set-default.png"] {
    filter: hue-rotate(180deg) saturate(2); /* edit image to pink */

}
[src="img/set-default.png"]:active {
    filter: hue-rotate(180deg) saturate(3.5);
}

/* hide "info" button */
[src="img/question.png"] {
    display: none;
}

/* fix spacing for date component */
.date.input-group[class*=col-] {
    padding-right: inherit;
    float: inherit;
}

.next-day-button {
    font-size: 20px;
    color: #6EBEC4;
    cursor: pointer;
}

/* save animation */
@keyframes saved {
    8% {
        transform: translate3d(0, -10px, 0);
    }
    15%,
    17% {
        opacity: 1;
        transform: translate3d(0, 20px, 0);
    }
    37%,
    60% {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
    60% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 1;
    }
}

.saved {
    animation: saved 3s;
}

/* Company Holiday row */

/* half-opacity (without affecting "+Add" button */
#fake-hourglass-row,
#fake-template-row {
    background-color: #EDEDED75;
}

#fake-hourglass-row > td:not(#add-fake-cell),
#fake-template-row > td:not(#add-fake-cell) {
    opacity: 0.75;
}

#dayview,
#dayview-templates {
    position: relative;
}

#add-fake-row-button {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}

#add-fake-template-row-button {
    position: absolute;
    border-radius: 0 4px 4px 0;
    padding: 0 3px;
}

#save-template-button {
    font-style: italic;
    margin-right: 16px;
}

.display-none {
    display: none;
}

/* Delete Activity button */
.delete-activity-cell {
    position: absolute;
}

.delete-activity-button {
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    padding: 0 3px;
}
